/* .show-up{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  color: #fff;
  align-self: flex-start;
  margin: 0 0 auto 0;
  font-size: 4.5rem;
  line-height: 1; */
  /* transition: all .8s cubic-bezier(0.39, 0.575, 0.565, 1) ;
  transform: translate3d(0, 100%, 0);
  opacity: 0; */
  /* transform: translateY(20px) translateZ(0);
  transition: transform 0.8s cubic-bezier(0.515, 0.61, 0.355, 1),opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.3s;
  opacity: 0;
  margin-bottom: 100px;
}

.show-up1{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  color: #fff;
  align-self: flex-start;
  margin: 50 0 auto 0;
  font-size: 4.5rem;
  line-height: 1; */
  /* transition: all .8s cubic-bezier(0.39, 0.575, 0.565, 1) ;
  transform: translate3d(0, 100%, 0);
  opacity: 0; */
  /* transform: translateY(20px) translateZ(0);
  transition: transform 0.8s cubic-bezier(0.515, 0.61, 0.355, 1),opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.4s;
  opacity: 0;
  margin-bottom: 100px;
} */

/* .show-up2{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  color: #fff;
  align-self: flex-start;
  margin: 80 0 auto 0;
  font-size: 4.5rem;
  line-height: 1; */
  /* transition: all .8s cubic-bezier(0.39, 0.575, 0.565, 1) ;
  transform: translate3d(0, 100%, 0);
  opacity: 0; */
  /* transform: translateY(20px) translateZ(0);
  transition: transform 0.8s cubic-bezier(0.515, 0.61, 0.355, 1),opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.8s;
  opacity: 0;
  margin-bottom: 100px;
}
 */

/* h2 span{
  transition: all .8s cubic-bezier(0.215, 0.80, 0.355, 1) 1.4s;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
} */

/* .active, .active span{
  transform: translate3d(0, 0, 0);
  opacity: 1;
}


[data-layout="white"] {
  border:1px solid yellow;
  color: black;
  background-color: #fff;;
} */